/*

This file is where we'll write more component-specific CSS.
For the sake of keeping organized, every "section" is wrapped
a specially named div. We start every selector by targeting one
section at a time, so that the only impacted components are
inside of a single chunk.

*/

/* ======================
       NAVBAR
========================*/
.navbar {
    
}

.navbar i {
    margin-right: 5px;
}

.navbar .navbar-content {
    justify-content: space-between
}

.navbar ul {
    
}

.navbar ul li {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar ul li a {
    text-decoration: none;
}


/* ======================
        HERO
========================*/
.hero {
    width: 100%;
    background: url('https://i.imgur.com/Cwvepmq.jpg') no-repeat center center;
    background-size: cover;
    height: 700px;
}

.hero .hero-content {
    padding-top: 50px;
    text-align: center;
    width: 60%
}

@media screen and (max-width: 960px) {
    .hero .hero-content {
        width: 85%
    }
}



/* ======================
       CARDS
========================*/

/* ======================
       JUMBOTRON
========================*/

/* ======================
        SUPPORTING
========================*/

/* ======================
       TYPOGRAPHY
========================*/

/* ======================
       PAGE-TITLE
========================*/

/* ======================
       FORM
========================*/

/* ======================
       FOOTER
========================*/


