/*

The purpose of this file is to write a small custom theme in the form of 
"helper classes", specific and descriptive classes that will be reused 
throughout the website.

*/


/* ======================
       TYPOGRAPHY
========================*/

/* ------- TYPOGRAPHY -------*/

.display-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
}

.display-2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 42px;
}

.display-3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.headline {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.subheading {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
}


.body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


/* ------- RESPONSIVE TYPOGRAPHY -------*/
@media screen and (max-width: 600px) {

    .display-1 {
        font-size: 50px;
    }

    .display-2 {
        font-size: 36px;
    }

    .display-3 {
        font-size: 24px;
    }

    .headline {
        font-size: 18px;
    }

    .subheading {
        font-size: 16px;
    }

    .body {
        font-size: 14px;
    }
}



/* ======================
       COLORS
========================*/

/* ----- TEXT COLORS ----- */
.text-black {
    color: #212121;
}

.text-white {
    color: #ffffff;
}

.text-purple {
    color: #7a51f6;
}

.text-steel {
    color: #5f697a
}


/* ---- LINKS ----*/
.active {
    color: rgba(255,255,255,1)
}

.inactive {
    color: rgba(255, 255, 255, 0.5);
}

/* ----- BACKGROUND COLORS ----- */

.bg-purple {
    background-color: #7a51f6;
}

.bg-black {
    background-color: #212121;
}

.bg-white {
    background-color: #ffffff;
}

.bg-off-white-1 {
    background-color: #e0e0e0;
}

.bg-off-white-2 {
    background-color: #f5f5f5;
}


/* ======================
    LAYOUT & SPACING
========================*/

/* flexbox only applies to direct children of an element, so this helper
class allows us to easily assign display: flex to a parent */
.flex-wrapper {
    display: flex;
}


.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


/* Responsive Containers */

/* Stop expanding at 1440 */
@media screen and (max-width: 1440px) {
    .container {
        max-width: 1024px;
    }
}

/* 1280 */
@media screen and (max-width: 1280px) {
    .container {
        max-width: 78%;
    }
}

/* 1024 */
@media screen and (max-width: 10240px) {
    .container {
        max-width: 82%
    }
}

/* 960 */
@media screen and (max-width: 960px) {
    .container {
        max-width: 86%
    }
}

/* 768 */
@media screen and (max-width: 768px) {
    .container {
        max-width: 90%
    }
}

/* 600 */
@media screen and (max-width: 600px) {
    .container {
        max-width: 94%
    }
}
